@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
}

:root { 
    --bg-color: #323437;
    --header-text-color: #323437;
    --header-bg-color: #ffcd19;
    --text-color: #D1D0C5;
    --textarea-text-color: #323437;
    --textarea-bg-color: #D1D0C5;
    --caret-color: #ca8a04;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--header-bg-color);
    padding: 3rem;
    margin: 0 10rem; 
    border: none;
    border-radius: 0 0 25px 25px;
}

/* 1rem = 16px */

header h1 { 
    font-size: 2.3rem;
    color: var(--header-text-color);
    font-weight: 700;
    text-align: center;
}

header h1::selection {
    color: var(--header-bg-color);
    background: var(--bg-color);
}

textarea {
    color: var(--textarea-text-color);
    background-color: var(--textarea-bg-color);
    display: block;
    margin: auto;
    height: 250px;
    width: 60%;
    font-size: 25px;
    padding: 1rem 0.5rem;
    caret-color: var(--caret-color);
    resize: none;
    outline: none;
    border: none;
    border-radius: 12px;
}

::selection {
    background: var(--header-bg-color);
}

button {
    cursor: pointer;
    display: block;
    margin: 0.5rem auto;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: var(--textarea-bg-color);
    color: var(--header-text-color);
    font-size: 18px;
}

button:hover {
    background: #bbbbb8;
}

.outputBox { 
    margin: auto;
    background: var(--textarea-bg-color);
    color: var(--textarea-text-color);
    height: 250px; 
    width: 60%;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 25px;
    padding: 1rem 0.5rem;
    display: grid;
    place-items: center;
}

.footer {
    margin-top: auto;
    background: var(--header-bg-color);
    color: var(--header-text-color);
    font-size: 22px;
    margin: 0 10rem;
    padding: 1.5rem;
    border: none;
    outline: none;
    border-radius: 25px 25px 0 0;
    text-align: center;
}

footer p::selection {
    color: var(--header-bg-color);
    background: var(--bg-color);
}

ul {
    list-style: none;
    text-align: center;
    margin-top: 0.6rem;
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    margin: 1rem;
    color: #000; 
    font-weight: bolder;
    font-size: 23px;
}